@import url('fonts.googleapis.com');

body {
    padding: 0;
    margin: 0;
    border: 0;
}

.container {
    font-family: 'Roboto', sans-serif;
}

.top-section {
    display: flex;
    flex-direction: column;
    gap: 120px;
    background-color: #1F2937;
    padding: 10px 200px 120px 200px
    /* Could manipulate padding later or find way 
    to make universal for entire container */
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
   color: #F9FAF8;
   font-size: 24px;
   margin: 0; 
}

.links {
    display: flex;
    gap: 16px;
}

.top-text {
    color: #E5E7EB;
    font-size: 18px;
}

.content {
    display: flex;
    gap: 60px;
}

.left {
    flex: 1; 
}

.title-content {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    margin: 0;
}

.button-content {
    color: #F9FAF8;
    font-size: 18px;
    background-color: #3882F6;
    border-radius: 10px;
    border: 0;
    padding: 5px 20px;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #656c75
}
