body {
    background-color: black;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-block {
    box-sizing: border-box;
    width: 1200px;
    background-color: #1F2937;
    padding: 0 160px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header-title {
    font-family: Arial, serif;
    font-size: 24px;
    color: #F9FaF8;
    padding: 0;
    margin: 0;
}

.links {
    font-family: Arial, serif;
    display: flex;
    gap: 20px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
}

.top-block-content {
    display: flex;
    gap: 40px;
    margin: 80px 0;
}

.sign-up-content {
    flex: 1;
    flex-direction: column;
}

.image-placeholder {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    font-family: Arial, serif;
    font-size: 18px;
    color: #F9FaF8;
    margin: 0;
    padding: 0;
}

.sign-up-title {
    font-family: Arial, serif;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.sign-up-info {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0;
    padding: 0;
}

.sign-up-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    border-radius: 10px;
    padding: 5px 25px;
    border: 0;
    margin: 0;
}